
  /* -------------------------Dashboard------------------------- */
  .Mainbody {
    font-family: var(--fontFamily);
    width: 90%;
}

.leftNav .BoxIcon {
    padding: 1rem;
}

.leftNav {
    height: 100vh;
    box-shadow: 0 0 1rem 0 var(--box);
    padding:8rem 1rem;
}

.ContainerBoard {
    display: flex;
}

.leftNav .BoxIcon img {
    width: 1.5rem;
}

.Logout {
    bottom: 0;
    position: absolute;
}

.Mainbody P {
    color: #8990AD;
}

.Mainbody .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainContainer button {
    background-color: var(--PrimaryColor);
    font-size: .9rem;
    margin: var(--m1);
}

.mainContainer button a {
    color: white;
}

hr {
    background-color: #ccc;
    border: none;
    margin: var(--mhr);
    height: .01rem;
}

.TopNav {
    padding: 8rem 2rem 3rem 2rem;
}

.TopNav button {
    background-color: var(--PrimaryColor);
    font-size: 1rem;
}

.TopNav button a {
    font-size: .9rem;
    color: white;
    letter-spacing: .1rem;

}

.TopNav img {
    border-radius: 50%;
    height: 3rem;
    margin: var(--mhr);
    /* border: 1px solid palevioletred; */
}

.Special {
    background-color: var(--spcial);
    padding: 1rem 0;
}

.mainimg {
    /* border: 1px solid red; */
    height: 100%;
    width: 30%;
    object-fit: cover;
    aspect-ratio: 3/3;
}

.mainContainer {
    /* height: 70vh; */
    display: flex;
    box-shadow: 0 0 1rem 0 var(--box);
    padding: 0 1rem;
    /* height: 60vh; */
    width: 100%;
    justify-content: space-between;
}

.mainContainer .Content {
    /* border: 1px solid red; */
    width: 100%;
}
