@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Inter:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Inter:wght@100;400&family=Montserrat:ital,wght@0,600;0,700;1,400;1,500&display=swap');

:root {
    --Headers: #0E7E53;
    --margin: 0;
    --buttonMargin: 2rem 0;
    --padding: 6rem;
    --mainMargin: 6rem 0;
    --paddingNav: 2rem 6rem;
    --fontFamily: 'Inter';
    /* --ContentFamily: 'Montserrat'; */
    --PrimaryColor: #2DD393;
    --mainColor: #888888;
    --contentWeight: 400;
    --HeadWeight: 700;
    --footerColor: #142535;
    --copyRight: #101D2A;
    --footerContent: #BBBBBB;
    --fontSize: 1.2rem;
    --black: black;
    --mobilePadding: 1rem;
    --box: rgba(204, 196, 196, 0.334);
    --spcial: rgb(244, 243, 243);
    --m1: 0.4rem;
    --mhr: 0 1rem;
    --mmain: 0 2rem;
}

* {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.pledge {
    margin: 0 2rem;
    background-color: transparent;
}

.pledge a {
    color: var(--Headers);
}

.Bar {
    background-color: #ccc;
    width: 100%;
    height: .2rem;
    margin: 1rem 0;
}

.bar {
    background-color: var(--PrimaryColor);
    width: 40%;
    height: .2rem;
}

.Oxygen section {
    padding: 1rem;
}

.Oxygen .box {
    margin: 1rem;
    background-color: #97b1e869;
}

.Oxygen .box p {
    color: var(--copyRight);
}

.sam {
    width: 2rem;
    border-radius: 2rem;
}

.fundrise {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.fundrise section {
    padding: 1.8rem 0;
}

.fundrise h2 {
    color: var(--Headers);
    font-size: 3.8rem;
    text-align: center;
    line-height: 5rem;
    font-weight: 400;
}

.fundrise h1 {
    font-size: 2.4rem;
    line-height: 6rem;
    font-weight: 400;
}

.Container .box img {
    width: 100%;
}

.fundrise p {
    text-transform: uppercase;
}

.wrapContainer {
    width: 100%;
}

.wrapContainer .Container {
    padding: var(--padding);
    width: 100%;
}

button {
    margin: var(--buttonMargin);
    border: 1px solid var(--PrimaryColor);
    padding: .7rem 2rem;
    font-size: var(--fontSize);
    background-color: var(--PrimaryColor);
    border-radius: .4rem;
}


button a {
    color: white;
    font-size: .9rem;
}

/*------------------- container -------------------*/
.Container {
    position: relative;
    display: flex;
    /* padding: var(--padding); */
    justify-content: space-between;

}

.Container .homeContent {
    width: 50%;
}

p {
    font-family: var(--fontFamily);
    font-weight: 400;
    color: var(--mainColor);
}

.Container span {
    color: var(--PrimaryColor);
}

.Container .image img {
    position: absolute;
    top: 0;
    right: 0rem;
}

.Container .absolute img {
    right: 10rem;
    top: 15rem;
}

/* ------------------------------why------------------------------ */

.Why,
.how,
.fulfil,
.SignUp,
.MediaSupport,
.Refer,
.pages,
.freeAccount {
    align-items: center;
    width: 100%;
    margin: var(--mainMargin);
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: relative;
}

/* -------------------------Dashboard------------------------- */
.Mainbody {
    font-family: var(--fontFamily);
    width: 90%;
}

.leftNav .BoxIcon {
    padding: 1rem;
}

.leftNav {
    height: 100vh;
    box-shadow: 0 0 1rem 0 var(--box);
    padding: 1rem;
}

.ContainerBoard {
    display: flex;
}

.leftNav .BoxIcon img {
    width: 30px;
}

.Logout {
    bottom: 0;
    position: absolute;
}

.Mainbody P {
    color: #8990AD;
}

.Mainbody .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainContainer button {
    background-color: var(--PrimaryColor);
    font-size: .9rem;
    margin: var(--m1);
}

.mainContainer button a {
    color: white;
}

hr {
    background-color: #ccc;
    border: none;
    margin: var(--mhr);
    height: .01rem;
}

.TopNav {
    padding: 2rem;
}

.TopNav button {
    background-color: var(--PrimaryColor);
    font-size: 1rem;
}

.TopNav button a {
    font-size: .9rem;
    color: white;
    letter-spacing: .1rem;

}

.TopNav img {
    border-radius: 50%;
    height: 3rem;
    margin: var(--mhr);
    /* border: 1px solid palevioletred; */
}

.Special {
    background-color: var(--spcial);
    padding: 1rem 0;
}

.mainimg {
    /* border: 1px solid red; */
    height: 100%;
    width: 30%;
    object-fit: cover;
    aspect-ratio: 3/3;
}

.mainContainer {
    /* height: 70vh; */
    display: flex;
    box-shadow: 0 0 1rem 0 var(--box);
    padding: 0 1rem;
    /* height: 60vh; */
    width: 100%;
    justify-content: space-between;
}

.mainContainer .Content {
    /* border: 1px solid red; */
    width: 100%;
}

.tag {
    background-color: var(--footerContent);
    color: var(--mainColor);
    margin: var(--m1);
    padding: .4rem 1rem;
    font-size: .5rem;
    border-radius: 1rem;
}

.SmallBox section {
    align-items: center;
    margin: var(--mhr);
    justify-content: space-around;
}

.SmallBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.how .Container img {
    object-fit: contain;
}

.how a,
.fulfil a,
.pages a {
    font-size: .8rem;
    line-height: 4rem;
    color: var(--PrimaryColor);
    font-family: var(--fontFamily);
}

.boxBig {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.Gallery {
    margin: 0 6rem;
}

.Gallery .box {
    margin: 1rem;
}

.Gallery img {
    width: 100%;
}

h1,
h2,
h3,
h5 {
    line-height: 2.8rem;
    font-family: var(--fontFamily);
    color: var(--Headers);
}

input {
    border: none;
    background-color: var(--footerContent);
}

footer {
    margin: 0;
    background-color: var(--PrimaryColor);
    width: 100%;
}

footer .box {
    font-family: var(--ContentFamily);
    width: 50%;
}

footer .Container li a,
footer .box p {
    color: white;
    line-height: 1.6rem;
}

footer .Container ul {
    display: flex;
    color: white;
    font-weight: 450;
    margin: var(--m1);
}

/* --------------------------------free --------------------------------*/
.Container .sectionFree {
    width: 30%;
}

.freeAccount .Container button {
    background-color: var(--PrimaryColor);
    height: 100%;
}

.freeAccount .Container {
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .wrapContainer .Container {
        padding: var(--mobilePadding);
        margin: 0;
    }

    .Refer .Container img {
        width: 100%;
    }

    .logo {
        width: auto;
    }

    .logo img {
        width: 2rem;
    }

    p {
        font-size: .8rem;
        font-weight: 500;
    }

    .Container {
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        /* padding: var(--mobilePadding); */
    }

    .mainContainer {
        box-shadow: transparent;
        padding: 0;
        margin: var(--mmain);
        flex-wrap: wrap;
        height: 100%;
        width: 100%;

    }

    .leftNav {
        display: flex;
        flex-wrap: wrap;
    }

    .Wrap {
        display: flex;
        flex-wrap: wrap;
    }
    .fundrise {
    padding: var(--mobilePadding);}
    .fundrise h1 {
        font-size: 1.3rem;
        line-height: 3rem;
        font-weight: 400;
    }

    .fundrise h2 {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    .ContainerBoard {
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }

    .Container .image img {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
    }

    .Container .homeContent {
        width: 100%;
    }

    .leftNav {
        height: 100%;
    }

    .Logout {
        position: relative;
    }

    .Container .box {
        padding: 0;
    }

    .Container .absolute img {
        background-color: rgba(204, 204, 204, 0.292);
    }

    .none {
        display: none;
    }

    .mainimg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 3;
    }

    .Container .sectionFree {
        width: 100%;
    }

    .mainContainer .Content {
        width: 100%;
    }

    .Mainbody {
        width: 100%;
        margin: 0;
    }

    .Gallery {
        margin: 0 1rem;
    }

    .how .Container img,
    .fulfil .Container img {
        width: 95%;
    }

    button {
        padding: .5rem .8rem;
        display: flex;
        justify-content: center;
    }

    img {
        margin: 2rem 0;
    }

    button a {
        color: white;
        font-size: .7rem;
    }

    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    footer .box {
        font-family: var(--ContentFamily);
        width: 100%;
    }
}