:root {
    --mainMargin: 6rem 0;
    --paddingNav: 2rem 6rem;
    /* --fontFamily: 'Inter';
    --ContentFamily: 'Montserrat'; */
    --PrimaryColor: #2DD393;
    --mainColor: #888888;
    --contentWeight: 400;
    --HeadWeight: 700;
    --navLink: 2rem;
    --mobilePadding: 1rem;
    --m1: 0.4rem;
    --mhr: 0 1rem;
    --mmain: 0 2rem;
}

/* --------------Navbar --------------*/
nav {
    position: fixed;
    width: 100%;
    display: flex;
    /* font-family: var(--fontFamily); */
    align-items: center;
    justify-content: space-between;
    padding: var(--paddingNav);
}

.menu ,.logo{
    display: flex;
    position: relative;
z-index: 1000;
}

nav h3 {
    color: var(--black);
}

nav a,
.navContainer button a {
    color: var(--mainColor);
    font-weight: var(--contentWeight);
}

.navContainer button {
    background-color: transparent;
}

button a {
    color: white;
}

.navContainer {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.main nav .green {
    background-color: white;
}

.green {
    background-color: var(--PrimaryColor);
    height: .1rem;
    width: 2rem;
}

.black {
    background-color: var(--mainColor);
    height: .1rem;
    width: 1rem;
    margin: var(--m1)
}

.navLinks {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--PrimaryColor);
    height: 100vh;
    top: -2000%;
    font-size: var(--navLink);
    /* font-family: var(--ContentFamily); */
    line-height: 3rem;
}

.close {
    position: absolute;
    width: 4rem;
    top: 6rem;
    right: 3.2rem;
    color: var(--footerContent);

}

.close i {
    color: var(--footerContent);
}

.navLinks.active {
    top: 0;
    z-index: 100;
    transition: all .8s ease-out;
}

@media only screen and (max-width: 600px) {


    nav {
       position: relative;
        margin: 0;
        padding: var(--mobilePadding);
    }

    .logo img{
        width: 2rem;
    }
    .navContainer {
        width: 50%;
    }

    .navContainer h3 {
        font-size: .9rem;
    }

}